NODE_ENV=development
PRODUCTION=false
DATABASE_URL=postgres://bustabit:bustabit@localhost:5432/bustabitdb
BIP32_DERIVED=
AWS_SES_KEY=
AWS_SES_SECRET=
CONTACT_EMAIL=ryan@moneypot.com
SITE_URL=http://localhost:3841
ENC_KEY=devkey
SIGNING_SECRET=secret
BANKROLL_OFFSET=0
RECAPTCHA_PRIV_KEY=6LcYl7wUAAAAAOgxHauisye6H7GHusDbd5AaNlEV
RECAPTCHA_SITE_KEY=6LcYl7wUAAAAAOThWc-9zSHmi5tTuNJzPGAwTxa3
ETHEREUM_PROVIDER=https://mainnet.infura.io/v3/7c7093b1659f4c0d82dedbfd29736ce6
MNEMONIC=cherry you receive shuffle ski wise youth roof shield private shaft shield
PORT= 3841
MINING_FEE=100
BIT_TO_ETH_RATIO=1000000
TIP_FEE=0
MIN_TIP=100
MIN_WITHDRAW=1000