
@import url("../vendor/font-awesome/css/font-awesome.css");
@import url("game.css");
@import url("fonts.css");


/*eeee*/
body{
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #333333;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background:url(/img/seawater1.jpg) no-repeat center !important;
    background-size:cover !important;
    background-position: fixed !important;
    color:#fff;
}
html,body{
    position: relative;
    height: auto;
}
/*account page*/
.sendtip-box input{
  width:100%;
}
label {
  font-size: 0.875rem;
  color: #4d4d4d;
  cursor: pointer;
  display: block !important;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 0;
}
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  -webkit-appearance: none;
  background-color: white;
  font-family: inherit;
  border: 1px solid #cccccc;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.875rem;
  margin: 0 0 1rem 0;
  padding: 0.5rem;
  height: 2.3125rem;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out; }
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="date"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="month"]:focus,
  input[type="week"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="time"]:focus,
  input[type="url"]:focus,
  textarea:focus {
    box-shadow: 0 0 5px #999999;
    border-color: #999999; }
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="date"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="month"]:focus,
  input[type="week"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="time"]:focus,
  input[type="url"]:focus,
  textarea:focus {
    background: #fafafa;
    border-color: #999999;
    outline: none; }
  input[type="text"][disabled], fieldset[disabled] input[type="text"],
  input[type="password"][disabled], fieldset[disabled]
  input[type="password"],
  input[type="date"][disabled], fieldset[disabled]
  input[type="date"],
  input[type="datetime"][disabled], fieldset[disabled]
  input[type="datetime"],
  input[type="datetime-local"][disabled], fieldset[disabled]
  input[type="datetime-local"],
  input[type="month"][disabled], fieldset[disabled]
  input[type="month"],
  input[type="week"][disabled], fieldset[disabled]
  input[type="week"],
  input[type="email"][disabled], fieldset[disabled]
  input[type="email"],
  input[type="number"][disabled], fieldset[disabled]
  input[type="number"],
  input[type="search"][disabled], fieldset[disabled]
  input[type="search"],
  input[type="tel"][disabled], fieldset[disabled]
  input[type="tel"],
  input[type="time"][disabled], fieldset[disabled]
  input[type="time"],
  input[type="url"][disabled], fieldset[disabled]
  input[type="url"],
  textarea[disabled], fieldset[disabled]
  textarea {
    background-color: #dddddd; }
  input[type="text"].radius,
  input[type="password"].radius,
  input[type="date"].radius,
  input[type="datetime"].radius,
  input[type="datetime-local"].radius,
  input[type="month"].radius,
  input[type="week"].radius,
  input[type="email"].radius,
  input[type="number"].radius,
  input[type="search"].radius,
  input[type="tel"].radius,
  input[type="time"].radius,
  input[type="url"].radius,
  textarea.radius {
    border-radius: 3px; }

input[type="submit"] {
  -webkit-appearance: none; }

/* Respect enforced amount of rows for textarea */
textarea[rows] {
  height: auto; }

/* Add height value for select elements to match text input height */
select {
  -webkit-appearance: none !important;
  background-color: #fafafa;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);
  background-position: 100% center;
  background-repeat: no-repeat;
  border: 1px solid #cccccc;
  padding: 0.5rem;
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.75);
  line-height: normal;
  border-radius: 0;
  height: 2.3125rem; }
  select.radius {
    border-radius: 3px; }
  select:hover {
    background-color: #f3f3f3;
    border-color: #999999; }

/* Adjust margin for form elements below */
input[type="file"],
input[type="checkbox"],
input[type="radio"],
select {
  margin: 0 0 1rem 0; }

input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline-block;
  margin-left: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 0;
  vertical-align: baseline; }

/* Normalize file input width */
input[type="file"] {
  width: 100%; }

/* We add basic fieldset styling */
fieldset 
{
  border: 1px solid #dddddd;
  padding: 1.25rem;
  margin: 1.125rem 0; }
  fieldset legend 
  {
    font-weight: bold;
    background: white;
    padding: 0 0.1875rem;
    margin: 0;
    margin-left: -0.1875rem; 
  }
  /* Styles for required inputs */ 

.account-bg{
  background: transparent;
  border: 1px solid #0a2346;
  box-shadow: 10px 10px 54px -6px rgba(0,0,0,0.75);
  border-top: 0;
  padding:35px 0px;
}
.txt-center{
  text-align: center;
}
.txt-right{
  text-align:right;
}
.txt-left{
  text-align:left;
}
.settings a{
  color:#fff !Important;
}
.nopadding{
padding:0px !Important;
}
<<<<<<< HEAD
=======
/*account page*/
.sendtip-box input{
  width:100%;
}
label {
  font-size: 0.875rem;
  color: #4d4d4d;
  cursor: pointer;
  display: block !important;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 0;
}
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  -webkit-appearance: none;
  background-color: white;
  font-family: inherit;
  border: 1px solid #cccccc;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.875rem;
  margin: 0 0 1rem 0;
  padding: 0.5rem;
  height: 2.3125rem;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out; }
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="date"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="month"]:focus,
  input[type="week"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="time"]:focus,
  input[type="url"]:focus,
  textarea:focus {
    box-shadow: 0 0 5px #999999;
    border-color: #999999; }
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="date"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="month"]:focus,
  input[type="week"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="time"]:focus,
  input[type="url"]:focus,
  textarea:focus {
    background: #fafafa;
    border-color: #999999;
    outline: none; }
  input[type="text"][disabled], fieldset[disabled] input[type="text"],
  input[type="password"][disabled], fieldset[disabled]
  input[type="password"],
  input[type="date"][disabled], fieldset[disabled]
  input[type="date"],
  input[type="datetime"][disabled], fieldset[disabled]
  input[type="datetime"],
  input[type="datetime-local"][disabled], fieldset[disabled]
  input[type="datetime-local"],
  input[type="month"][disabled], fieldset[disabled]
  input[type="month"],
  input[type="week"][disabled], fieldset[disabled]
  input[type="week"],
  input[type="email"][disabled], fieldset[disabled]
  input[type="email"],
  input[type="number"][disabled], fieldset[disabled]
  input[type="number"],
  input[type="search"][disabled], fieldset[disabled]
  input[type="search"],
  input[type="tel"][disabled], fieldset[disabled]
  input[type="tel"],
  input[type="time"][disabled], fieldset[disabled]
  input[type="time"],
  input[type="url"][disabled], fieldset[disabled]
  input[type="url"],
  textarea[disabled], fieldset[disabled]
  textarea {
    background-color: #dddddd; }
  input[type="text"].radius,
  input[type="password"].radius,
  input[type="date"].radius,
  input[type="datetime"].radius,
  input[type="datetime-local"].radius,
  input[type="month"].radius,
  input[type="week"].radius,
  input[type="email"].radius,
  input[type="number"].radius,
  input[type="search"].radius,
  input[type="tel"].radius,
  input[type="time"].radius,
  input[type="url"].radius,
  textarea.radius {
    border-radius: 3px; }

input[type="submit"] {
  -webkit-appearance: none; }

/* Respect enforced amount of rows for textarea */
textarea[rows] {
  height: auto; }

/* Add height value for select elements to match text input height */
select {
  -webkit-appearance: none !important;
  background-color: #fafafa;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);
  background-position: 100% center;
  background-repeat: no-repeat;
  border: 1px solid #cccccc;
  padding: 0.5rem;
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.75);
  line-height: normal;
  border-radius: 0;
  height: 2.3125rem; }
  select.radius {
    border-radius: 3px; }
  select:hover {
    background-color: #f3f3f3;
    border-color: #999999; }

/* Adjust margin for form elements below */
input[type="file"],
input[type="checkbox"],
input[type="radio"],
select {
  margin: 0 0 1rem 0; }

input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline-block;
  margin-left: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 0;
  vertical-align: baseline; }

/* Normalize file input width */
input[type="file"] {
  width: 100%; }

/* We add basic fieldset styling */
fieldset 
{
  border: 1px solid #dddddd;
  padding: 1.25rem;
  margin: 1.125rem 0; }
  fieldset legend 
  {
    font-weight: bold;
    background: white;
    padding: 0 0.1875rem;
    margin: 0;
    margin-left: -0.1875rem; 
  }
  /* Styles for required inputs */ 

.account-bg{
  background: transparent;
  border: 1px solid #0a2346;
  box-shadow: 10px 10px 54px -6px rgba(0,0,0,0.75);
  border-top: 0;
  padding:35px 0px;
}
.txt-center{
  text-align: center;
}
.txt-right{
  text-align:right;
}
.txt-left{
  text-align:left;
}
.settings a{
  color:#fff !Important;
}
.nopadding{
padding:0px !Important;
}
>>>>>>> d395926f4f9bce8156d05d6e2d3702f4be00ee82
.small_top_padding{
padding-top:10px !Important;
}
.mid_padding{
padding-top:30px;
padding-bottom:30px;
}
.mid_top_padding{
padding-top:30px !Important;
}
.large_padding{
    padding-top:80px;
    padding-bottom:80px;
}
.large_top_padding{
    padding-top:80px;
}
.mid_bottom_padding{
    padding-bottom: 30px !Important;
}
.acct-set{
  margin-left:100px !important;
  margin-top:25px;
}
.play,.logout{
  width: 200px;
margin: 0 auto;
padding: 8px 0px;
background: linear-gradient(to bottom, #013972 0%,#11dbf3 100%);
border-radius: 9px;
box-shadow: 0 8px 10px -6px #777;
margin-bottom:25px;
color:#fff !Important;
}
.account,.deposit,.tip,.security,.withdraw,.support{
  /*background: blue;*/
width: 200px;
margin: 0 auto;
padding: 8px 0px;
border: 1px dotted #ccc;
border-radius: 9px;
box-shadow: 0 8px 10px -6px #777;
margin-bottom:25px;
/*color:#fff !Important;*/
}
.dep-header{
  font-weight: bold;
  font-size: 22px;
  /*float: left;*/
}
.deposit-option .dep-header,.tip-header{
  float:left;
}
#statistics{
  padding: 10px 0px;
border: 1px solid #ccc;
text-align: center;
}
#statistics p{
  color:#fff;
}
#statistics .data{
  text-align: center;
border-right: 1px solid #ccc;
}
.right{
  float:right;
}
.left{
  float:left;
}
.border-button{
  border: 1px dotted #fff !important;
padding: 2px 10px;
border-radius: 7px;
}
/*end account page*/
.navbar-default{
/*  background-color: #DEE3E9 !important;
  color: #FFFFFF !important;*/
  -webkit-box-shadow: 3px 9px 58px -17px rgba(0,0,0,1);
-moz-box-shadow: 3px 9px 58px -17px rgba(0,0,0,1);
box-shadow: 3px 9px 58px -17px rgba(0,0,0,1);
}
.burger-btn i{
  font-size:18px;
  color:#fff;
  float:right;
  line-height: 0px;
}
.balance-bits span.balance{
float: left;
line-height: 0px;
margin-right: 25px;
margin-left: 0;
text-align: right;
padding-top: 23px;
display: block;
color:#fff !Important;
}

#login-dp {
    min-width: 250px;
    padding: 14px 14px 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, .8);
}

#login-dp .help-block {
    font-size: 12px
}

#login-dp .bottom {
    background-color: rgba(255, 255, 255, .8);
    border-top: 1px solid #ddd;
    clear: both;
    padding: 14px;
}

#login-dp .social-buttons {
    margin: 12px 0
}

#login-dp .social-buttons a {
    width: 49%;
}

#login-dp .form-group {
    margin-bottom: 10px;
}

.btn-fb {
    color: #fff;
    background-color: #3b5998;
}

.btn-fb:hover {
    color: #fff;
    background-color: #496ebc
}

.btn-tw {
    color: #fff;
    background-color: #55acee;
}

.btn-tw:hover {
    color: #fff;
    background-color: #59b5fa;
}

@media(max-width:768px) {
    #login-dp {
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom {
        background-color: inherit;
        border-top: 0 none;
    }
}
/* For Lottery */
.fortimer{
    margin-top: 150px !important;
    padding-top: 50px !important;
    margin-top: 50px !important;
    z-index: -100;
}

.circle{
    background-image: url("../img/background.jpg");
    width: 300px !important;
    height: 300px !important;
    border-radius: 150px;
    background-position: center center;
    background-size:contain;
    margin:0 auto;
    margin-top:66px;
}
.tube{
    width: 72px;
    height: 72px;
    top: 380px;
    left: 890px;
    opacity: 50%;
    z-index: 0;
    position: absolute;
}

#balls #circle{
   width: 300px !important;
    height: 300px !important; 
}
.myCanvas2{
  /*margin-top:20px;*/
  border: 1px solid #11dbf3;
  border-radius: 32px;
  box-shadow: 10px 10px 54px -6px rgba(0,0,0,0.75);
  width:24%;
  height:56px;
  background:transparent !important;
  position: absolute;
  z-index: 100;
  top:478px;
  left:700px;
  margin:0 auto;
}
.bouncy{
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: greenyellow;
  position: absolute;
  color: #000;
  padding: 2px;
  text-align: center !important;
}

    width: 70px;
    height: 72px;
    top: 220px;
    left: 115px;
    z-index: 0;
    position: absolute;
}

#balls #circle{
   width: 300px !important;
    height: 300px !important; 
}

.bouncy{
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: greenyellow;
  position: absolute;
  color: #000;
  padding: 2px;
  padding-top: 8px;
  font-size: 16px;
  text-align: center !important;
}

/* For Lottery */
img.tube{
  /*border-radius: 150px;
  width: 300px;
  height: 300px;
  background:center center;
  margin-top:66px !Important;*/
}
.title h1{
  font-size:21px;
  line-height: 40px;
  color:#fff;
}

/* Credit to bootsnipp.com for the css for the color graph */

.colorgraph {
    height: 5px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.form-material {
    width: 50%;
    margin: 0 auto;
    background-color: #fff;
    padding: 16px;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}

/*sign up*/
/*#wrap{
background-repeat: no-repeat;
background-attachment: fixed;
}
legend{
    color:#141823;
    font-size:25px;
    font-weight:bold;
}*/
.signup-btn {
  background: #79bc64;
  background-image: -webkit-linear-gradient(top, #79bc64, #578843);
  background-image: -moz-linear-gradient(top, #79bc64, #578843);
  background-image: -ms-linear-gradient(top, #79bc64, #578843);
  background-image: -o-linear-gradient(top, #79bc64, #578843);
  background-image: linear-gradient(to bottom, #79bc64, #578843);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  text-shadow: 0px 1px 0px #898a88;
  -webkit-box-shadow: 0px 0px 0px #a4e388;
  -moz-box-shadow: 0px 0px 0px #a4e388;
  box-shadow: 0px 0px 0px #a4e388;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #3b6e22  1px;
  text-decoration: none;
}

.signup-btn:hover {
  background: #79bc64;
  background-image: -webkit-linear-gradient(top, #79bc64, #5e7056);
  background-image: -moz-linear-gradient(top, #79bc64, #5e7056);
  background-image: -ms-linear-gradient(top, #79bc64, #5e7056);
  background-image: -o-linear-gradient(top, #79bc64, #5e7056);
  background-image: linear-gradient(to bottom, #79bc64, #5e7056);
  text-decoration: none;
}
/*.navbar-default .navbar-brand{
        color:#fff;
        font-size:30px;
        font-weight:bold;
    }*/
.form .form-control { margin-bottom: 10px; }
@media (min-width:768px) {
    #home{
        margin-top:50px;
    }
    #home .slogan{
        color: #0e385f;
        line-height: 29px;
        font-weight:bold;
    }
}
.navbar-toggler-icon {
    background-image: url(https://mdbootstrap.com/img/svg/hamburger8.svg?color=E3005C);
}
.navbar.navbar-dark .navbar-toggler-icon {
    cursor: pointer;
}
.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}
.navbar{
  margin-bottom: 0px !important;
}
.navbar-default{
  background:none !important;
  border-color:none !important;
  box-shadow:none !important;
}
.navbar{
  border:0px !important;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
  background-color: inherit !important;
}


/*custom css by may*/
.container{
  max-width:800px !important;
  padding-right:15px;
  padding-left:15px;
  margin-right:auto;
  margin-left:auto;
}
.xs_padding{
  padding-top:3px;
  padding-bottom: 3px;
}
.sm_padding{
  padding-top:10px;
  padding-bottom:10px;
}
.mid_padding{
  padding-top:40px;
  padding-bottom:40px;
}
.large_padding{
  padding-top:80px;
  padding-bottom: 80px;
}
.top_sm_padding{
  padding-top:10px;
}
.top_mid_padding{
  padding-top:40px; 
}
.top_large_padding{
  padding-top:80px;
}
.bottom_sm_padding{
  padding-bottom:10px;
}
.bottom_mid_padding{
  padding-bottom:40px;
}
.bottom_large_padding{
  padding-bottom: 80px;
}
/*header &  navbar*/

.navbar.navbar-6 .navbar-toggler-icon {
background-image: url('https://mdbootstrap.com/img/svg/hamburger8.svg?color=E3005C');
}
.header_wrapper{
  width:770px;
  /*background: #073067;*/
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#022964+0,0c85b9+100 */
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#013972+0,11dbf3+100 */
background: #013972; /* Old browsers */
background: -moz-linear-gradient(top, #013972 0%, #11dbf3 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #013972 0%,#11dbf3 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #013972 0%,#11dbf3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#013972', endColorstr='#11dbf3',GradientType=0 ); /* IE6-9 */
}
.left_header{
  float:left;
}
.right_header{
  float:right;
  z-index: 134;
  position: relative;
}
.navbar-nav>li>.dropdown-menu{
 background: #013972; /* Old browsers */
background: -moz-linear-gradient(top, #013972 0%, #11dbf3 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #013972 0%,#11dbf3 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #013972 0%,#11dbf3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#013972', endColorstr='#11dbf3',GradientType=0 ); /* IE6-9 */
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
  background-color: inherit !important;
  color:#fff !important;
}
/**/
.game-bg{
  /*background:#ccc !important;*/
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#073067+0,325d96+100 */
      background: transparent !important;
    border: 1px solid #0a2346;
box-shadow: 10px 10px 54px -6px rgba(0,0,0,0.75);
border-top:0;
padding:20px 20px;
margin-bottom:50px;
}
.game-area{
  padding:20px;
  text-align:center;
  display: block !Important;
  margin:0 auto;
}
#ballMachine{
  margin-top:66px;
}
.count-down{
  z-index: 100;
    top: -385px;
    left: 312px;
    position: relative;
}

#ten-countdown {
    /* text-align: center; */
    border: 5px double #11dbf3;
    /*display:inline;*/
    /*margin-top:200px !important;*/
    /*padding: 13px 25px;*/
   width: 94px;
    height: 45px;
    color: #fff;
    font-family: Verdana, sans-serif, Arial;
    font-size: 14px;
    line-height: 27px;
    text-align:center !Important;
    /*font-weight: bold;*/
    text-decoration: none;

    border-bottom-left-radius: 110px;
    border-bottom-right-radius: 110px;
    border-top: 0;
    display:block !Important;
}
span#trigger-overlay{
  cursor:pointer;
}
.dropdown-menu{
    left: -55px !important;
    min-width: 120px !important;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-toggle span.icon-bar {
    transition: all 0.15s;
}

.navbar-toggle span:nth-child(2) {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggle span:nth-child(3) {
    opacity: 0;
}

.navbar-toggle span:nth-child(4) {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggle.collapsed span:nth-child(2),
.navbar-toggle.collapsed span:nth-child(4) {
    transform: rotate(0);
}

.navbar-toggle.collapsed span:nth-child(3) {
    opacity: 1;
}






.login-container{
    position: relative;
    width: 300px;
    margin: 80px auto;
    padding: 20px 40px 40px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
}

#output{
    position: absolute;
    width: 300px;
    top: -75px;
    left: 0;
    color: #fff;
}

#output.alert-success{
    background: rgb(25, 204, 25);
}

#output.alert-danger{
    background: rgb(228, 105, 105);
}


.login-container::before,.login-container::after{
    content: "";
    position: absolute;
    width: 100%;height: 100%;
    top: 3.5px;left: 0;
    background: #fff;
    z-index: -1;
    -webkit-transform: rotateZ(4deg);
    -moz-transform: rotateZ(4deg);
    -ms-transform: rotateZ(4deg);
    border: 1px solid #ccc;

}

.login-container::after{
    top: 5px;
    z-index: -2;
    -webkit-transform: rotateZ(-2deg);
     -moz-transform: rotateZ(-2deg);
      -ms-transform: rotateZ(-2deg);

}

.avatar{
  
    width: 100px;
    height: 100px;
    background-image:url(../img/doctor-icon.png);
    margin: 10px auto 30px;
    border-radius: 100%;
    /*border: 2px solid #aaa;*/
    background-size: cover;
}

.form-box input{
    width: 100%;
    padding: 10px;
    text-align: center;
    height:40px;
    border: 1px solid #ccc;;
    background: #fafafa;
    transition:0.2s ease-in-out;
    margin:0 0 0.5rem 0;
}

.form-box input:focus{
    outline: 0;
    background: #eee;
}



.form-box input[type="password"]{
    border-radius: 0 0 5px 5px;
    border-top: 0;
}

.form-box button.login{
    margin-top:15px;
    padding: 10px 20px;
}
/*register*/

.registerform-box input{
    width: 100%;
    padding: 10px;
    text-align: center;
    height:40px;
    border: 1px solid #ccc;;
    background: #fafafa;
    transition:0.2s ease-in-out;
    margin:0 0 1rem 0;
}

.registerform-box input:focus{
    outline: 0;
    background: #eee;
}



.registerform-box input[type="password"]{
    border-radius: 0 0 5px 5px;
    border-top: 0;
}

.registerform-box button.register{
    margin-top:15px;
    padding: 10px 20px;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

/*admin end*/

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
}

/*.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}*/

.avatar {
  width: 150px;
  height: 150px;
  box-sizing: border-box;
  /*border: 5px white solid;*/
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
  /*background:url(./img/ballMachineBackground.jpg);*/
  img { width: 100%; height: auto; }
}

.content {
  width: 100%;
  max-width: 600px;
  padding: 20px 40px;
  box-sizing: border-box;
  text-align: center;
}
#background-wrap {
    bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

/* KEYFRAMES */

@-webkit-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@-moz-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@-webkit-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@-moz-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

/* ANIMATIONS */

.x1 {
    -webkit-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
  
  left: -5%;
  top: 5%;
  
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
}

.x2 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
  -moz-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
  animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
  
  left: 5%;
  top: 80%;
  
  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  transform: scale(0.4);
}

.x3 {
    -webkit-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
  
  left: 10%;
  top: 40%;
  
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  transform: scale(0.7);
}

.x4 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
  -moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
  animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
  
  left: 20%;
  top: 0;
  
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  transform: scale(0.3);
}

.x5 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
  -moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
  animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
  
  left: 30%;
  top: 50%;
  
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
}

.x6 {
    -webkit-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
  
  left: 50%;
  top: 0;
  
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
}

.x7 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
  
  left: 65%;
  top: 70%;
  
  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  transform: scale(0.4);
}

.x8 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
  -moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
  animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
  
  left: 80%;
  top: 10%;
  
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  transform: scale(0.3);
}

.x9 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
  -moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
  animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
  
  left: 90%;
  top: 50%;
  
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
}

.x10 {
    -webkit-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
  
  left: 80%;
  top: 80%;
  
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  transform: scale(0.3);
}

/* OBJECTS */

.bubble {
    -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
  
    height: 200px;
  position: absolute;
  width: 200px;
}

.bubble:after {
    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 70%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.5)), color-stop(70%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  
    -webkit-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
  
  content: "";
  height: 180px;
  left: 10px;
  position: absolute;
  width: 180px;
}

.main .fish {
  position: absolute;
  z-index: -6;
  bottom: 13%;
  left: -120px;
  animation: swim 15s infinite linear;
}
@keyframes swim {
  10% {
    bottom: 19%;
  }
  20% {
    bottom: 12%;
  }
  30% {
    bottom: 13%;
  }
  40% {
    bottom: 11%;
  }
  50% {
    bottom: 16%;
  }
  60% {
    bottom: 12%;
  }
  70% {
    bottom: 20%;
  }
  80% {
    bottom: 11%;
  }
  90% {
    bottom: 19%;
  }
  100% {
    left: 108%;
  }
}
.main .fish2 {
  position: absolute;
  z-index: 8;
  bottom: 4%;
  left: -120px;
  animation: swim2 15s infinite linear 8s;
}
@keyframes swim2 {
  10% {
    bottom: 11%;
  }
  20% {
    bottom: 3%;
  }
  30% {
    bottom: 6%;
  }
  40% {
    bottom: 10%;
  }
  50% {
    bottom: 10%;
  }
  60% {
    bottom: 1%;
  }
  70% {
    bottom: 12%;
  }
  80% {
    bottom: 1%;
  }
  90% {
    bottom: 5%;
  }
  100% {
    left: 102%;
  }
}
.eye {
  animation: wing 3s infinite linear alternate;
  transform-origin: 30% 38%;
}

.tail {
  animation: tail 1s infinite linear alternate;
}
@keyframes tail {
  100% {
    transform: rotate(-1deg);
  }
}
.wing-xs {
  animation: wing 1.3s infinite linear alternate;
  transform-origin: 50% 85%;
}

.wing {
  transform-origin: 50% 0;
  animation: wing 1s infinite linear alternate;
}
@keyframes wing {
  100% {
    transform: rotate(-4deg);
  }
}
.main .fish2 {
  position: absolute;
  z-index: -8;
  bottom: 4%;
  left: -120px;
  animation: swim2 15s infinite linear 8s;
}
@keyframes swim2 {
  10% {
    bottom: 11%;
  }
  20% {
    bottom: 3%;
  }
  30% {
    bottom: 6%;
  }
  40% {
    bottom: 10%;
  }
  50% {
    bottom: 10%;
  }
  60% {
    bottom: 1%;
  }
  70% {
    bottom: 12%;
  }
  80% {
    bottom: 1%;
  }
  90% {
    bottom: 5%;
  }
  100% {
    left: 102%;
  }
}
.eye {
  animation: wing 3s infinite linear alternate;
  transform-origin: 30% 38%;
}

.tail {
  animation: tail 1s infinite linear alternate;
}
@keyframes tail {
  100% {
    transform: rotate(-1deg);
  }
}
.wing-xs {
  animation: wing 1.3s infinite linear alternate;
  transform-origin: 50% 85%;
}

.wing {
  transform-origin: 50% 0;
  animation: wing 1s infinite linear alternate;
}
@keyframes wing {
  100% {
    transform: rotate(-4deg);
  }
}

/*burger navigaton*/

.nav-trigger {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  /*nav stays in the same spot as user scrolls*/
  position: fixed; 
  /*position hamburger menu*/
  top: 15px;
  left: 15px;
  /*z-index needs to be 1 higher than site-wrap*/
  z-index: 2;
  width: 30px;
  height: 30px;
  /*changing to pointer indicates interactivity*/
  cursor: pointer;
  color: #111111;
}

/*styling to create "hamburger" icon (refer to notes)*/
.hidden_nav:before {
  content: "";
  position: absolute;
  top: 1em;
  width: 2em;
  height: .25em;
  border-top: .7em double #000;
  border-bottom: 0.25em solid #000;
  z-index: 3;
}

.nav-trigger:checked + label {
  left: 200px;
}


.nav-trigger:checked ~ .site-wrap {
  left: 180px;
}

/*add slight transition to effect*/

.nav-trigger + label, .site-wrap {
  transition: left 0.2s;
}